/* TODO: 보기 좋은 나만의 아고라 스테이츠를 위해서 CSS를 수정하세요. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.discussions__container {
  border: 3px solid blue;
}

li.discussion__container {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 540px;
}

div.discussion__content {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  /* flex 항목 column 정렬  */
  flex-direction: column;
}

div.discussion__avatar--wrapper {
  display: flex;
  align-items: center;
}

.discussion__avatar--image {
  width: 48px;
  border-radius: 70%;
}

div.discussion__answered {
  display: flex;
  align-items: center;
}
