/* TODO: 보기 좋은 나만의 아고라 스테이츠를 위해서 CSS를 수정하세요. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;
}

/* 폼 영역 */
.form {
  border: 1px solid brown;
  padding: 0.5rem;
}

.form__input--name,
.form__input--title,
.form__textbox {
  display: flex;
  flex-direction: column;
}

.test {
  border: 1px solid red;
}
/* 폼 영역 끝 */

/* 컨텐츠 영역 */
li.discussion__container {
  border: 1px solid brown;
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 540px;
}

div.discussion__content {
  display: flex;
  justify-content: space-between;
  /* flex 항목 column 정렬  */
  flex-direction: column;
  /* flex-grow, flex-shrink, flex-basis */
  flex: 1 0 0;
  /* rem : root 요소의 글자와 상대적인 크기 */
  padding: 0.5rem;
}

div.discussion__avatar--wrapper {
  display: flex;
  align-items: center;
}

.discussion__avatar--image {
  width: 48px;
  border-radius: 70%;
}

div.discussion__answered {
  display: flex;
  align-items: center;
}

h2.discussion__title {
  font-size: 0.9rem;
}

.discussion__information {
  text-align: right;
  padding: 0.2rem;
  float: right;
}

/* 컨텐츠 영역 끝 */
